@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

.mainTop{
    background-color: bisque;
}

.links{
    text-decoration: none;
    font-size: 40px;
    color: blue;
    margin: 10px 10px 10px 10px;
    font-family: 'Square peg';
}