.mainTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/Banner.jpg");
}

nav {
  display: flex;
  align-items: center;
}

.logoImage {
  height: 43px;
  margin-right: 10px;
}

.links {
  height: 43px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin: 10px 10px 10px 0;
  font-family: "Bitter", sans-serif;
}

@media (max-width: 768px) {
  .mainTop {
    width: 100%;
  }

  .links {
    font-size: 20px;
  }

  .nav {
    flex-direction: column;
  }

  .logoImage {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .mainTop {
    width: 100%;
  }

  .links {
    font-size: 16px;
  }

  .nav {
    flex-direction: column;
  }

  .logoImage {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .mainTop {
    width: 100%;
  }

  .links {
    font-size: 14px;
  }

  .nav {
    flex-direction: column;
  }

  .logoImage {
    margin-right: 0;
  }
}
