/* @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap'); */

body {
  font-family: "Bitter", sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

img.banner {
  width: 100%;
  height: 400px;
  margin: 0;
}

.banner-container {
  position: relative;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner-text h1 {
  color: white;
}

.banner-text hr {
  width: 100%;

  border: none;
  border-top: 5px solid #f44336;
}

.subtext {
  color: #f44336;
  font-family: "Caveat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-top: 20px;
}

.line {
  height: 3px;
  margin: 0 auto;
}

.line-red {
  width: 75%;
  margin-top: 20px;
  background-color: #f44336;
}

.line-black {
  width: 75%;
  background-color: black;
  margin-bottom: 20px;
}
.appoint {
  display: block;
  text-align: center;
  font-family: "Bitter", sans-serif;
  font-weight: medium;
  font-size: 50px;
  color: black;
  margin: 20px 0;
}

.appointment {
  background-color: #e6e6e6;
}

.card {
  flex: 0 1 calc(33.33% - 20px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  border-radius: 10px 10px 0 0;
  /* top left and right rounded, bottom left and right sharp */
  width: 100%;
  display: block;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
  max-width: calc(75% - 40px);
}

.exp {
  font-size: 29px;
  font-family: "Bitter", sans-serif;
  text-align: center;
}

.uni {
  text-align: center;
  margin: 100px;
}
.name {
  display: inline-block;
  font-family: "Caveat", sans-serif;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 60px;
  color: #f44336;
  text-shadow: 3px 3px 5px rgba(244, 67, 54, 0.5);
  transition: transform 0.3s ease-in-out;
}

.name:hover {
  transform: scale(1.1);
}

.experience {
  background-color: #e6e6e6;
}

footer {
  position: relative;
  margin-top: 10px;
}

img.footer {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.footerLogo {
  position: absolute;
  top: 20px;
  left: 230px;
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: white; */
}

.footerLogo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.footerLogo div {
  color: white;
}

.footerLogo h2 {
  margin: 0;
  font-size: 1.2rem;
}

.footerLogo p {
  margin: 0;
  font-size: 0.9rem;
}

.contact {
  position: absolute;
  top: 20px;
  left: 1200px;
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: white; */
}

.contact h4 {
  color: white;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.contact p {
  font-size: 20px;
  color: white;
  margin: 1px;
}
.contact a {
  font-size: 20px;
  color: #f44336;
}

.socialIcons {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.social-link {
  display: flex;
  padding: 1rem;
  font-size: 2rem;
  transition: transform 0.4s;
  text-decoration: none;
  color: #f44336;
}

.social-link:hover {
  transform: translateY(-0.25rem);
}
